.spin-logo-5 {
	animation: App-logo-spin infinite 5s linear;
}
.spin-logo-10 {
	animation: App-logo-spin infinite 10s linear;
}

.bg-custom1 {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(248%2c 249%2c 250%2c 1)'%3e%3c/rect%3e%3cpath d='M40.63520515891334 519.3778646929258L129.92990042619024 370.76653547685487-107.97612405715755 430.08316942564886z' fill='rgba(8%2c 18%2c 149%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M482.3667672838686 228.13812387358848L455.53530805630027 9.613424756196423 237.01060893890823 36.444883983764754 263.84206816647657 254.96958310115681z' fill='rgba(8%2c 18%2c 149%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1271.2330327270101 262.65326818614494L1171.4398861474747 337.8527979636557 1334.1357541035086 449.94275294420345z' fill='rgba(8%2c 18%2c 149%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1128.5126596630494 1076.9393333177886L1058.5099605502985 861.4931787006425 913.0665050459032 1146.9420324305395z' fill='rgba(8%2c 18%2c 149%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1577.196%2c658.281C1618.216%2c659.786%2c1659.45%2c644.068%2c1681.067%2c609.173C1703.78%2c572.51%2c1703.073%2c526.314%2c1682.399%2c488.464C1660.809%2c448.938%2c1622.199%2c420.774%2c1577.196%2c419.009C1529.032%2c417.12%2c1478.204%2c436.493%2c1456.655%2c479.609C1436.561%2c519.813%2c1460.599%2c564.747%2c1485.736%2c602.007C1507.192%2c633.811%2c1538.857%2c656.875%2c1577.196%2c658.281' fill='rgba(8%2c 18%2c 149%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1430.7597652563854 882.2123751108429L1271.7276073470036 1030.5122615423684 1579.059651687911 1041.2445330202247z' fill='rgba(8%2c 18%2c 149%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
	/* background-position: center; */
	background-attachment: fixed;
	background-size: cover;
}

.bg-custom2 {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1054%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(248%2c 249%2c 250%2c 1)'%3e%3c/rect%3e%3cpath d='M24 1080L1104 0L1681.5 0L601.5 1080z' fill='url(%23SvgjsLinearGradient1055)'%3e%3c/path%3e%3cpath d='M746.6 1080L1826.6 0L2050.1 0L970.1 1080z' fill='url(%23SvgjsLinearGradient1055)'%3e%3c/path%3e%3cpath d='M1820 1080L740 0L129.5 0L1209.5 1080z' fill='url(%23SvgjsLinearGradient1056)'%3e%3c/path%3e%3cpath d='M1200.4 1080L120.40000000000009 0L-344.5999999999999 0L735.4000000000001 1080z' fill='url(%23SvgjsLinearGradient1056)'%3e%3c/path%3e%3cpath d='M1146.8920036482746 1080L1920 306.89200364827457L1920 1080z' fill='url(%23SvgjsLinearGradient1055)'%3e%3c/path%3e%3cpath d='M0 1080L773.1079963517254 1080L 0 306.89200364827457z' fill='url(%23SvgjsLinearGradient1056)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1054'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1055'%3e%3cstop stop-color='rgba(157%2c 157%2c 210%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(157%2c 157%2c 210%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1056'%3e%3cstop stop-color='rgba(157%2c 157%2c 210%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(157%2c 157%2c 210%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.bg-blur {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.logo-shadow {
	filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 0.4));
	/* filter: drop-shadow(0px 1px 1px rgb(152 157 210 / 0.4)); */
}

.transition3 {
	transition: 3s ease-in-out all;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}